body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bd-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;
}
.bd-footer-links li {
    display: inline-block;
}
.bd-footer-links li+li {
    margin-left: 1rem;
}
.bd-footer a {
    font-weight: 600;
    color: #495057;
}

.cv-title {
  margin-bottom: 0;
}
.cv-position {
  font-style: italic;
  font-size: 14px;
}
h6 {
  margin-bottom: 0px;
  font-weight: bold;
}
